@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.custom-icon {
    background: transparent;
    border: none;
}